@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.container {
    /* background-color: rgb(139, 162, 255); */
    background-color: rgb(139, 162, 255);
    height: 600px;
    width: 1000px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}




/* intro */
.display-intro {
    width: 1000px;
    height: 600px;
    background-color: rgb(139, 162, 255);
    position: absolute;
}

.title {
    color: #fff;
    font-size: 90px;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    text-transform: uppercase;
}

.display-intro input[type=text] {
    position: absolute;
    color: rgb(170, 170, 170);
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 20px;
}
.play  {
    height: 50px;
    cursor: pointer;
    width: 150px;
    position: absolute;
    bottom: 30%;
    background-color: rgb(0, 0, 144);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 4px 4px 10px #fff;
}
.play:hover{
    background-color: rgb(67, 67, 255);
}

/* countdown */
.display-countdown{
    width: 1000px;
    position: absolute;
    height: 600px;
    background-color: rgb(139, 162, 255);
}
.header {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 40px;
}
.number {
    color: #fff;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

/* game display */
.display-game {
    position: absolute;
    width: 1000px;
    height: 600px;
}



/* information */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    width: 30px;
    border-radius: 100%;
    border: 4px solid #fff;
    position: absolute;
    margin: auto;
    right: 0;
    margin-top: 30px;
    margin-right: 40px;
}

.information {
    display: none;
    z-index: 99;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 300px;
    width: 500px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
}
.header-info {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
}
.cancel {
    font-size: 30px;
    text-align: end;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 30px;
}
.information p {
    text-indent: 20px;
}
.desc-info {
    margin-left: 30px;
    margin-right: 30px;
}
.message-dev {
    position: absolute;
    right: 80px;
}
.dev {
    position: absolute;
    right: 76px;
    bottom: 25px;
}

/* game */

.game {
    background-image: url('../image/connectbg.png');
    background-repeat: none;
    background-size: cover;
    height: 560px;
    width: 560px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 40px 40px 0 0;
    bottom: 4%;
}
.animation {
    height: 80px;
    width: 560px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


.cell {
    height: 80px;
    width: 80px;
}

.user {
    background-color: rgb(55, 255, 0);
    height: 56px;
    width: 56px;
    margin: 12px;
    border-radius: 100%;
}

.bot {
    background-color: yellow;
    height: 56px;
    width: 56px;
    margin: 12px;
    border-radius: 100%;
}

.ball-animation {
    position: absolute;
    height: 56px;
    width: 56px;
    margin: 12px;
    border-radius: 100%;
}


.ball-animation-bot {
    background-color: yellow;
    position: absolute;
    height: 56px;
    width: 56px;
    margin: 12px;
    border-radius: 100%;
}


/* back */
.back {
    position: absolute;
    top: 30px;
    left: 30px;
}
.fa-circle-left {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}


/* description information users */

.description-player {
    background-color: #fff;
    height: 150px;
    width: 160px;
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.name-player-wrap {
    display: flex;
    position: absolute;
    left: 75px;
    top: 20px;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}
.name-player {
    margin-left: 5px;
    display: flex;
}

.name-bot-wrap {
    display: flex;
    position: absolute;
    left: 75px;
    top: 90px;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}
.name-bot {
    margin-left: 5px;
    display: flex;
}

/* display */
.screen {
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.screen.active {
    opacity: 1;
    pointer-events: unset;
}